.git
html/data/players_online/*
html/data/plugins/groupmanager/users.yml
html/data/plugins/noirland_autopromote/config.yml
html/data/plugins/worldborders/config.yml
html/images/admins_images/*
html/images/players_images/*